BuoyLogs/

lvl*

OGSL/__pycache__

ParsedData/

ProcessLVL/update_runs
ProcessLVL/send_runs
ProcessLVL/*.sh
ProcessLVL/*.o*
ProcessLVL/*.e*
ProcessLVL/spot-*/__pycache__

RawData/

Subsets/csv*
Subsets/lvl*
